@import url('https://fonts.googleapis.com/css2?family=poppins&display=sawp');

* {
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}

/* header */

header {
    width: 100%;
    background-color: #12486b; 
    /* background-image: linear-gradient(to bottom right, #00c0ff, #4218b8); */
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
}

header nav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .menu-btn {
    height: 100%;
    width: 40px;
    /* background-image: linear-gradient(to bottom right, #00c0ff, #4218b8); */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}

header nav .menu-btn:hover {
    background-color: #222;
}

nav .menu-btn span {
    height: 5px;
    width: 100%;
    background-color: #fff;
    margin: 3px;
}

nav ul li {
    list-style: none;
    display: inline-flex;
    padding: 0px 12px;
    transition: all 0.3s ease-in;
}

nav ul li a,
nav .logo a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

nav .logo a {
    font-size: 1.2em;
}

nav ul li:hover {
    background-color: #222;
}

/* section */
#hero {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* side bar social media links */
#hero aside {
    position: fixed;
    right: 0px;
    top: 25%;
}

aside .sticky-menu li {
    list-style: none;
    padding: 10px 15px;
    margin-top: 3px;
    cursor: pointer;
    transform: translateX(100px);
    transition: 0.4s ease-in-out;
}

aside .sticky-menu li:hover {
    transform: translateX(0);
}

.sticky-menu li a {
    color: #fff;
    text-decoration: none;
}

.sticky-menu li:nth-child(1) { background-color: #0a66c2;}
.sticky-menu li:nth-child(2) { background-color: #222;}
.sticky-menu li:nth-child(3) { background-color: #cd201f;}
.sticky-menu li:nth-child(4) { background-color: #db3236;}
.sticky-menu li:nth-child(5) { background-color: #222;}

/* section body css */

.row {
    width: 100%;
    height: 100%;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

#home h1 {
    font-size: 5em;
}

#home h2 {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
}

/* --------- about section  --------- */

#about {
    height: 100vh;
    display: flex;
}

#about .col {
    width: 100%;
    margin-top: 60px;
    padding: 20px;
}

#about .col h1,
#resume .col h1,
#projects .col h1,
#contact .col h1 {
    font-size: 2.5em;
    color: #12486b;
}

#about .col .content {
    text-align: justify;
    word-break: break-all;
}

#about .content p {
    text-indent: 100px;
    margin-top: 20px;
}

#about .about-card {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about .about-card .info {
    margin-left: 5px;
}

#about .about-card .image {
    height: 200px;
    width: 200px;
}

#about .about-card .image img {
    max-width: 100%;
    border-radius: 20px;
    border: 3px solid #fff;
    outline: 3px solid #12486b;
}

#about ul li {
    list-style: none;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#about ul li strong {
    color: #12486b;
    font-weight: 800;
}

#about ul li span {
    color: #419197;
}

#about .tech-card {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about .tech-card ul li {
    margin: 10px;
}

#about .tech-card a {
    text-decoration: none;
    background-color: #12486b; 
    /* background-image: linear-gradient(to bottom right, #00c0ff, #4218b8); */
    color: #fff;
    padding: 12px 14px;
}

/* resume */
#resume {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
}

#resume .col {
    height: 100%;
    width: 90%;
    padding: 30px;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#resume .col .table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
}

table,
tr,
td,
th {
    border: 1px solid #222;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

td,
th {
    padding: 10px;
}

#resume .col .download-btn {
    width: 100%;
    text-align: center;
}

#resume .col .download-btn ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    
}

#resume .col .download-btn ul li {
    list-style-type: none;
    margin-top: 20px;
}

#resume .col .download-btn ul a {
    align-self: center;
    text-decoration: none;
    background-color: #12486b; 
    color: #fff;
    padding: 12px 14px;
}

/* Projects */
#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    overflow: hidden;
}

#projects .col {
    height: 100%;
    width: 85%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#projects .col .card-container {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#projects .col .card-container .card {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in;
    border-radius: 10px;
}

#projects .col .card-container .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#projects .col .card-container .card .card-image {
    width: 320px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

#projects .col .card-container .card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#projects .col .card-container .card .card-body {
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#projects .col .card-container .card .card-body h5 {
    font-size: 1.2rem;
    color: #12486b;
}

#projects .col .card-container .card .card-body p {
    text-align: justify;
    word-break: break-all;
}

#projects .col .card-container .card a {
    padding: 8px 10px;
    background-color: #12486b; 
    /* background-image: linear-gradient(to bottom right, #00c0ff, #4218b8); */
    color: #fff;
    text-decoration: none;
}

/* Contact */
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
}

#contact .col {
    height: 100%;
    width: 85%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact .col .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact .col .card .card-body {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#contact .col .card .card-body iframe {
    width: 100%;
    height: 100%;
}

#contact .col .card .card-body form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#contact .col .card .card-body form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#contact .col .card .card-body form .form-group input,
#contact .col .card .card-body form .form-group textarea {
    padding: 10px 12px;
    width: 200px;
}

#contact .col .card .card-body form .form-group input[type="submit"] {
    background-color: #12486b; 
    /* background-image: linear-gradient(to bottom right, #00c0ff, #4218b8); */
    color: #fff;
    border: 1px solid #12486b;
    cursor: pointer;
}

/* footer */
footer {
    height: 100px;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer strong {
    color: #12486b;
}